*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    width: 400px;
    text-align: center;
    color: white;
    margin-top: 80px;
    border-radius: 20px;
    transition: all 1s;
    background-color: black;
    border: solid 5px black;
}
.header:hover{
    color: red;
    background-color: silver;
    transform: scale(0.9);
}
.header_p1{
    font-size: 30px;
    font-weight: 800;
    margin-top: 40px;
}
.header_p2{
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 30px;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

